.music-play {
    height: 100px;
    background-color: #ececec;
    border-radius: 10px;
    margin-top: 15px;
}

.range-music.css-8l7pog-Slider {
    width: 100%;
}
.music-handle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-music__handle.disable-event {
    color: #888;
}
.music-left {
    display: flex;
    align-items: center;
}
.music-info {
    /* flex-shrink: initial; */
    padding: 20px;
    line-height: 8px;
}

p.music-name {
    font-size: 16px;
    color: #000;
    text-transform: capitalize;
    font-weight: 400;
}

.music-artist {
    color: #888;
}

img.music-img {
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 10px;
}
.event-music__handle {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0 15px;
    font-size: 30px;
    color: blueviolet;
}

.music-volum__icon {
    margin: 0 10px;
    font-size: 25px;
    color: #888;
    position: relative;
    top: -2px;
}

.music-volum {
    display: flex;
    align-items: center;
}
.like-action {
    display: flex;
}
input[type="range"] {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    height: 4px;

    outline: none;
    overflow: hidden;
    /* padding: 10px 0; */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    height: 10px;
    width: 10px;

    border-radius: 50%;
    box-shadow: -400px 0 0 400px blueviolet;
}
.music-range::-webkit-slider-thumb {
}

input[type="range"]::-webkit-range-track {
}

@media screen and (max-width: 1366px) {
    .music-play {
        position: fixed !important;
        bottom: 0;
        left: 0;
        z-index: 1000;
    }
    .music-handle {
        display: block;
    }
    .music-left {
        display: none;
    }
    .event-music {
        display: flex;
        justify-content: center;
    }
    .like-action {
        position: fixed;
        z-index: 100000;
        bottom: 100px;
        right: 17px;
        display: block;
    }
    .event__music-handle {
        margin: 0;
    }
    .music-volum {
        z-index: 2000;
        
        transform: rotate(-90deg);
        position: absolute;
        left: -108px;
        right: -109px;
        bottom: 260%;
        /* bottom: 100%;
    left: -4px; */


    }
    .music-volum__icon {
        transform: rotate(90deg);
        margin: 9px 0;
    
        top: 1px;
    
    }
}
