.for-you__title {
    font-size: 18px;
    font-weight: 700;
   
    padding: 20px 0;
}
h3.for-you__title{
margin: 10px 0 0;
}
.for-you__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 3px 3px rgb(0 0 0 / 25%);
    margin-bottom: 10px;
    background: rgb(0 0 0 / 4%);
    border-radius: 10px;
}
.for-you__wrap:hover {
    background-color: rgba(138, 43, 226, 0.2);
}
.active-item{
    background-color:rgba(138, 43, 226, 0.2);;
    color: #fff;
}
.foryou__wraper {
}
.overflow-s {
    max-height: 300px;
    overflow-y: auto;
}
.row.overflow-s::-webkit-scrollbar-track {
    background-color: transparent;
    outline: none;
}
.overflow-s::-webkit-scrollbar-thumb {
    background-color: none;

    outline: none;
}

.for-you__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: var(--box-shadow);
}
.for-you__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-height: 300px;
  

    transition: all 0.2s linear !important;
}

.for-you__left {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.for-you__details-index {
    font-size: 14px;
    font-weight: 700;
    color: #888;
    cursor: default;
}
.for-you__details-like.active-like {
    color: #888;
    font-size: 20px;
    margin: 0 5px;
    cursor: default;
}
.for-you__details-details {
    margin: 12px;
}
.for-you__details-name {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.for-you__details-artist {
    color: #888;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.for-you__details-artist span {font-size: 14px;
line-height: 16px;
display: block;
}
.for-you__right {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.for-you__menu {
    position: relative;
}
.for-you__icon-menu {
    display: inline-block;
    color: rgb(138, 43, 226);
    margin-right: 5px;
}

.add-album {
    padding: 1px 5px;
    border-radius: 3px;
    background-color: #f0d3f0;
    position: absolute;
    right: 30px;
    width: max-content;
    top: 0px;
    display: none;
}
.for-you__icon-menu::before {
    content: "";
    position: absolute;
    height: 34px;
    width: 30px;

    right: 19px;
}
.for-you__icon-menu:hover .add-album {
    display: block;
}
.add-text {
    font-size: 12px;
    color: #000;
}
.for-you__menu-list {
    position: absolute;
}
.for-you__time {
    font-size: 14px;
    color: #888;
    margin-left: 30px;
}
.list-song {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 15px;
}
.list-song__img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  
    padding: 10px;
}
.icon-liked {
    color: blueviolet;
}
.music-line-wrap {
    display: flex;
    align-items: flex-end;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-right: 10px;
    position: absolute;
    z-index: 2;
   bottom:-50%;

}
.music-line {
    width: 21px;
    height: 300px;
    margin: 1px;
    transition: all 0.2s linear;
}
.line1 {
    background-color: rgb(155, 141, 168);
    animation: animate1 1.3s linear infinite;
}
.line2 {
    background-color: rgb(155, 141, 168);
    animation: animate2 1s linear infinite;
}
.line3 {
    background-color: rgb(155, 141, 168);
    animation: animate3 1.2s linear infinite;
}
.line4 {
    background-color: rgb(155, 141, 168);
    animation: animate4 0.8s linear infinite;
}
.line5 {
    background-color: rgb(155, 141, 168);
    animation: animate5 1.6s linear infinite;
}
.line6 {
    background-color: rgb(155, 141, 168);
    animation: animate3 1.4s linear infinite;
}
.line7 {
    background-color: rgb(155, 141, 168);
    animation: animate4 0.3s linear infinite;
}
.line8 {
    background-color: rgb(155, 141, 168);
    animation: animate5 0.7s linear infinite;
}
.line9 {
    background-color: rgb(155, 141, 168);
    animation: animate5 1.2s linear infinite;
}

@keyframes animate1 {
    50% {
        background-color: blueviolet;
        height: 100px;
    }
}
@keyframes animate2 {
    50% {
        background-color: blueviolet;
        height: 150px;
    }
}
@keyframes animate3 {
    50% {
        background-color: blueviolet;
        height: 80px;
    }
}
@keyframes animate4 {
    50% {
        background-color: blueviolet;
        height: 90px;
    }
}
@keyframes animate5 {
    50% {
        background-color: blueviolet;
        height: 100px;
    }
}
@keyframes animate6 {
    50% {
        background-color: blueviolet;
        height: 180px;
    }
}
@keyframes animate7 {
    50% {
        background-color: blueviolet;
        height: 50px;
    }
}
@keyframes animate8 {
    50% {
        background-color: blueviolet;
        height: 30px;
    }
}
@keyframes animate9 {
    50% {
        background-color: blueviolet;
        height: 70px;
    }
}
button.slick-arrow.slick-prev,
button.slick-arrow.slick-next {
   
    color: #000 !important;
    top:40%;
    z-index: 2000;
}
button.slick-arrow.slick-prev::before,
button.slick-arrow.slick-next::before {
    color: blueviolet;
    border-radius: unset;
}
.slick-prev:before, .slick-next:before{
    font-size: 30px;
}
.item-list:focus-visible {
    outline: none !important;
}
@media screen and (max-width: 1023px) {
    .foryou__wraper.overflow-s {
        margin-top: 30px;
    }
    .for-you__img img{
        max-height: unset;
        min-height: 300px;
    }
    /* .music-line-wrap{
        bottom: -40%;
    } */
}
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1949px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .col-12-ipad-pro.col-sm-12.col-md-12.col-lg-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .foryou__wraper.overflow-s.col-6-ipad-pro.col-sm-12.col-md-12.col-lg-7{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-6-ipad-pro.col-sm-12.col-md-12.col-lg-5{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .music-line-wrap{
        bottom: -50%;
    }

}