
.bg-show{
    background-color: #ececec;
    border-radius: 10px;
    padding :30px 30px;
}
 .App.container-fluid{
     padding:100px;
     background-color: #cbcfe2;
 }  
 .content-wrap{
    padding: 15px 30px;
    background: #dfe1ec;
    border-radius: 10px;
 }